
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">

            <!-- form handling -->
            <form  id="download">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show_link') %>
                    </tbody>
                </table>
                <div class="form-group">
                    <p id="Downloading-notification"></p>
                </div>
                <div class="form-group">
                    <button type="button" onclick ="download()" class="btn text-dark update" id="mybtn"></button>
                </div>
            </form>

        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->